body {
    background-color: aquamarine;
}

table, th, td {
    border: 1px solid black;
    /* width: 100%; */
    border-collapse: collapse;
}

table {
    width: 100%;
}

th {
    width: 16.7%;
    height: 70px;
    background-color: cadetblue;
}


tr:nth-child(even) {
    background-color: #f2f2f2;
}
